# Postgres Secrets
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_DB=finervo

# JWT Secrets
JWT_SECRET_KEY=your-secret-key-minimum-32-characters-long

# Seq Secrets
SEQ_SERVER_URL=http://seq:5341
SEQ_ENABLED=true